@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/images/hostel1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background for better readability */
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.login-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

.login-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: .3s;
}

::placeholder {
    font-weight: 500;
    color: #222;
}

.input-field:focus {
    width: 105%;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

#check {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section a {
    color: #555;
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn:hover {
    background: #000;
    transform: scale(1.05, 1);
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #000;
    font-weight: 600;
}



/* Snackbar styles */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 30px; /* Position from the right */
    top: 30px;   /* Position from the top */
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
